@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.control{
    width: 100%;
    height: 440px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px 40px 0px 0px;
    background-color:rgb(255, 235, 224);
    gap: 80px;
    margin-top: 30px;
    position: relative;

    .control-absolute{
        position: absolute;
    }
    .heart{
        top: 190px;
        left: 120px;
        width: 50px;
    }
    .next1{
        top: 260px;
        left: 395px;
        width: 170px;
    }
    .next{
        top: 260px;
        left: 875px;
        width: 170px;   
        transform: scaleY(-1);
    }
    .uzel{
        top: 200px;
        left: 1075px;
        width: 40px;    
    }
    .uzel1{
        top: 210px;
        left: 799px;
        width: 30px;    
    }
    .uzel2{
        top: 200px;
        left: 777px;
        width: 28px;
        transform: scaleY(-1);
        transform: rotate(100deg);    
    }
    .uzel3{
        top: 202px;
        left: 797px;
        width: 25px;
        transform: scaleY(-1);
        transform: rotate(345deg);    
    }
    .star1{
        top: 280px;
        left: 600px;
        width: 19px;  
    }
    .star4{
        top: 280px;
        left: 616px;
        width: 19px; 
        transform:scaleX(-1); 
    }
    .star2{
        top: 304px;
        left: 617px;
        width: 19px;  
        transform:rotate(180deg);
    }
    .star3{
        top: 304px;
        left: 600px;
        width: 19px;  
        transform:scaleY(-1);
    }

    h1{
    color: rgb(25, 25, 25);
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    }
    .control-content{
        display: flex;
        justify-content: space-around;
        .control-card{
            width: 280px;
            height: 220px;
            border-radius: 10px;
            background-color:white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            box-shadow: 4px 4px 4px 4px rgba(189, 179, 179, 0.141);
            
            .card-img{
                width: 130px;
                height: 130px;
                background-color:rgb(255, 235, 224) ;
                padding: 25px;
                border-radius: 50%;
            }
            h2{
                color: rgb(25, 25, 25);
                font-family: Playfair Display;
                font-size: 20px;
                font-weight: 800;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
            }
        }
    }
}
@media (max-width: 1024px) {
    .control{
        height: 100%;
        .control-content{
            width: 100%;
            .control-absolute{
              display: none;
            }
            .control-card{
                width: 240px;
                height: 180px;
                .card-img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
      .control{
        height: 100%;
          .control-content{
              display: flex;
              align-items: center;
              flex-direction: column;
              gap: 20px;
            }
          }
          .control-absolute{
            display: none;
      }
   
  }